html,
body,
.cover{
    height:100%;  
}

nav.navbar-inverse{
    background: rgba(0,0,0,0.5);
/*    a is alpha channel. its for opacity*/
    border: none;
}

.btn {
  border-radius:0;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('Preloader_8.gif') 50% 50% no-repeat white;
}

.cover{
    background-color: #e9eaea;
    background-size: cover;
/*    display: table;*/
/*    width: 100%;*/
/*    padding: 0 20%;*/
}

.cover-text{
    text-align: center;
/*    display: table-cell;*/
    padding-top: 170px;
}

.cover-text h1{
    margin:0;;
    font-size: 40px;
}

.cover-text h1{
    margin-top: 50px;
}

.subhead{
    font-size: 18px;
    color: gray;
    font-family: raleway;
    margin-top: 20px;
}

.gobtn{
    width:200px;
    margin-top: 100px;
    color: white;
    border-color: #34b3a0;
    background-color: #34b3a0;
    font-size: 15px;
    font-family: Raleway;
}

.gobtn:hover{
    border-color:#34c3ae;
    background-color: #34c3ae;
    color: white;
}

/*section{*/
/*    padding-bottom: 100px;*/
/*    padding-top: 100px;*/
/*}*/

footer{
    background-color: #d4d5d6;
    color:#204462;
}

.footerhead{
    font-weight: bold;
    font-family: helvetica;
}

.firstcol{
    margin-top: 22px;
}

.lastcol{
    margin-top: 50px;
}

.teachcode{
    margin-bottom: 10px;
}

.line{
    width: 100%;
    border-color:white;
}